body {
    background-color: #120f0f;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    text-align: center;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.weight-500 {
    font-weight: 500;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

strong {
    font-weight: bold;
}

.countdown {
    color: #fff;
    opacity: 0;
    font-size: 24px;
    padding: 32px 0 8px;
    transition: opacity 0.3s;
}

.button {
    background-color: #d31;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1618);
    color: #fff;
    display: inline-block;
    font-size: 22px;
    margin: 16px 0;
    padding: 16px 32px;
    text-decoration: none;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1618);
    transition: 0.1618s background-color;
}

.button:hover {
    background-color: #d20;
}
